<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <section class="py-5">
            <div class="container-lg">
                <div class="row text-center text-light">
                    <h1 class="display-3 fw-bold">Hi, I am Tu FIROCT.</h1>
                    <p class="lead fw-medium my-3">Web Developer, Designer and Pharmacist.</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>